<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.we_smart.googlezxing"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>  <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>        <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>   <!-- 自动聚焦权限 -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.we_smart.zxing.activity.CaptureActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>